/*------------FONTS---------------*/


/*----------TYPOGRAPHY------------*/


/*-----------GENERAL--------------*/

/* Custom properties/variables  */
:root {

}

main {
    margin-top: 10em;
}

#welcome-section {
    height: 100vh;
}

/*------------Navbar---------------*/

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


/*----------SMALL-SCREEN----------*/
@media only screen and (max-width: 768px) {

}
