/*------------FONTS---------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/*----------Overall------------*/

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/*-----------GENERAL--------------*/

/* Custom properties/variables  */
:root {
    --gunmetal-light: #4E5B6Aff;
    --gunmetal-dark: #293241ff;
    --polished-pine: #61988eff;
    --ash-gray: #a0b2a6ff;
    --fuzzy-wuzzy: #d16666ff;
    --vermilion: #c84630ff;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*------------Navbar---------------*/

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--gunmetal-dark);
    border-bottom: 0.2em solid var(--vermilion);
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: block;
    position:  relative;
    overflow: hidden;
    z-index: 1;
    padding: 0.5em;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav-link::before,
.nav-link::after {
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    background: var(--vermilion);
    transition: all .5s;
    margin: auto;
    content: '';
    z-index: -1;
    opacity: 0.75;
}

.nav-link::before {
    top: 0;
}

.nav-link::after {
    bottom: 0;
}

.nav-link:hover::before,
.nav-link:hover::after {
    height: 100%;
}

/*----------Welcome-Section----------*/
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, var(--ash-gray) 50%, #5C7063 100%);;
    /* background-image: radial-gradient(at bottom left, var(--ash-gray), #789181, #5C7063); */

}

#welcome-section header {
    text-align: center;
}

#welcome-section header h1 {
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 0 0.1em 0;
}

#welcome-section header p {
    color: var(--vermilion);
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.4rem;
    margin: 0;
    font-style: italic;
}

/*----------Projects----------*/
#projects {
    background-color: var(--gunmetal-light);
}

.projects-container {
    display: grid;
    grid-template-areas: 
    'nav1 nav2 nav3 nav4'
    'img img img img';
    margin: 1em 1em 2em 1em;
}
.projects-container input[type="radio"] {
    display: none;
}

#project1 + label {
    display: grid;
    grid-area: nav1;
}

#project2 + label {
    display: grid;
    grid-area: nav2;
}

#project3 + label {
    display: grid;
    grid-area: nav3;
}

#project4 + label {
    display: grid;
    grid-area: nav4;
}

.projects-container label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--vermilion);
    color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 0.4em 0.4em 1em rgba(0, 0, 0, 0.8);
    box-shadow: 0.8em 0.8em 2em rgba(0, 0, 0, 0.5);
}

#project1:checked ~ .project-images-container #project1-link img {
    opacity: 1;
}

#project1:checked ~ .project-images-container #project2-link img,
#project1:checked ~ .project-images-container #project3-link img,
#project1:checked ~ .project-images-container #project4-link img {
    opacity: 0;
}

#project2:checked ~ .project-images-container #project2-link img {
    opacity: 1;
}

#project2:checked ~ .project-images-container #project1-link img,
#project2:checked ~ .project-images-container #project3-link img,
#project2:checked ~ .project-images-container #project4-link img {
    opacity: 0;
}

#project3:checked ~ .project-images-container #project3-link img {
    opacity: 1;
}

#project3:checked ~ .project-images-container #project1-link img,
#project3:checked ~ .project-images-container #project2-link img,
#project3:checked ~ .project-images-container #project4-link img {
    opacity: 0;
}

#project4:checked ~ .project-images-container #project4-link img {
    opacity: 1;
}

#project4:checked ~ .project-images-container #project1-link img,
#project4:checked ~ .project-images-container #project2-link img,
#project4:checked ~ .project-images-container #project3-link img {
    opacity: 0;
}

.project-images-container {
    display: grid;
    grid-area: img;
    grid-template-areas: 'project-image';
    position: relative;
    width: 80vw;
    margin: auto;
}

.project-images-container a {
    display: grid;
    grid-area: project-image;
}

.project-images-container a img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    transition: all 2s ease-in-out;
}




/*----------SMALL-SCREEN----------*/
@media only screen and (max-width: 768px) {

}
