/*------------FONTS---------------*/


/*----------TYPOGRAPHY------------*/


/*-----------GENERAL--------------*/

/* Custom properties/variables  */
:root {
    --gunmetal-light: #303841ff;
    --gunmetal-dark: #293241ff;
    --polished-pine: #61988eff;
    --ash-gray: #a0b2a6ff;
    --fuzzy-wuzzy: #d16666ff;
    --vermilion: #c84630ff;
}

body {
    background-color: var(--ash-gray);
}

main {
    margin-top: 10em;
}

#welcome-section {
    height: 100vh;
}

/*------------Navbar---------------*/

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--gunmetal-dark);
    border-bottom: 0.2em solid var(--vermilion);
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: block;
    position:  relative;
    overflow: hidden;
    z-index: 1;
    padding: 0.5em;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav-link::before,
.nav-link::after {
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    background: var(--vermilion);
    transition: all .5s;
    margin: auto;
    content: '';
    z-index: -1;
    opacity: 0.75;
}

.nav-link::before {
    top: 0;
}

.nav-link::after {
    bottom: 0;
}

.nav-link:hover::before,
.nav-link:hover::after {
    height: 100%;
}


/*----------SMALL-SCREEN----------*/
@media only screen and (max-width: 768px) {

}
